@import "stylesheets/variables";

.favoriteCity {
  width: 100%;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  text-align: center;
  .title {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .informations {
    max-width: 250px;
    max-height: 50px;
    display: flex;
    div {
      font-size: 1rem;
    }
    img {
      align-self: center;
      height: 80px;
      width: 80px;
    }
  }
}
