@import "stylesheets/variables";

.favoriteCity {
  width: 100%;
  display: flex;
  max-width: 300px;
  justify-content: flex-end;
  flex-direction: column;
  .title {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .informations {
    div {
      font-size: 1rem;
    }
  }
}
