@import 'stylesheets/variables';

.favoritePanel {
    min-height: 100px;
    margin:  0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .wrapperSvg {
        display: flex;
        max-width: 150px;
        svg {
            height: 80px;
        }
    }
}