@import 'stylesheets/_variables.scss';

.weather {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  .wrapperBtn {
    align-self: flex-end;
  }
  .weatherDesc {
    display: flex;
    align-items: center;
    .weatherIcon {
      margin: 0 50px 0 0;
    }
    span {
      font-size: 48px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  .weatherMain {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
    span {
      font-size: 36px;
    }
  }
  .cityNameSpan {
    margin: 24px 0;
    font-size: 36px;
  }
}

@media screen and (max-width: $large) {
  .weather {
    text-align: center;
    .weatherDesc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .weatherInfo {
        margin: 24px 0 0 0;
      };
      .weatherIcon {
        svg {
          width: 300px
        }
      }
    }
    .weatherMain {
      width: 80%;
    }
  }
}