.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .weatherInfo {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .temperatureBtn {
    margin: 20px;
    svg {
      height: 26px;
      width: 26px;
      align-self: start;
    }
  }
  .favorites {
    position: absolute;
    right: 0;
    margin: 48px;
  }
}
