.home {
  display: flex;
  min-height: 100svh;
  background: #e4ebff;
  .closeBtnWrapper {
    position: absolute;
    padding: 24px;
  }
  .content {
    width: 100%;
    .date {
      text-align: center;
      padding: 16px;
    }
    .btnsWrapper {
      right: 0;
      z-index: 40;
      position: fixed;
      display: flex;
      flex-direction: column;
      margin: 20px;
      align-items: start;
      * {
        margin: 5px;
      }
    }
    .weatherInfo {
      display: flex;
      flex-direction: column;
    }
    .favorites {
      position: absolute;
      right: 0;
      margin: 48px;
    }

  }
}

@media screen and (max-width: 968px) {
  .home {
    .favorites {
      position: static;
    }
    .content {
      .date {
        padding: 24px;
        text-align: center;
      }
    }
  }
}
