@import "stylesheets/variables";

.modal {
  border-radius: 20px;
  width: clamp(300px, 80vw, 90vw);
  height: 90%;
  position: fixed;
  display: none;
  padding: 20px;
  top: 5%;
  left: 10%;
  overflow: auto;
  background: rgb(196, 196, 196);
  text-align: center;
  .wrapperBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
  &.active {
    display: block;
  }
  .modalContent {
    h6 {
      font-size: 24px;
    }
    p {
      font-size: 21px;
    }
    .forecastChart {
      padding: 0 0 100px 0;
    }
  }
}
