@import "stylesheets/variables";

.modal {
  border-radius: 20px;
  width: clamp(300px, 80vw, 90vw);
  height: 90%;
  z-index: 100;
  position: fixed;
  display: none;
  padding: 20px;
  top: 5%;
  left: 10%;
  overflow: auto;
  background: rgb(252, 249, 249);
  box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
  .wrapperBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
  &.active {
    display: block;
  }
  .modalContent {
    .panelModals {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    h6 {
      font-size: 24px;
      display: flex;
      align-items: center;
    }
    .weatherIcon {
      svg {
        width: 200px;
        height: 200px;
      }
    }
    p {
      font-size: 21px;
    }
  }
}

@media screen and (max-width: $large) {
  .modal {
    .modalContent {
      .panelModals {
        display: block;
      }
    }
  }
}
