@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap");

:global {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Radio Canada", sans-serif;
  }
}
