@import 'stylesheets/variables';

.favorites {
    background: #e4ebff;
    display: flex;
    height: 100svh;
    .closeBtnWrapper {
        position: absolute;
        padding: 24px;
    }
    .content {
        width: 100%;
        .favoritePanels {
            margin: 80px 0;
            display: flex;
            flex-direction: column;
        }
    }
    .btnsWrapper {
      right: 0;
      z-index: 40;
      position: fixed;
      display: flex;
      flex-direction: column;
      margin: 20px;
      align-items: start;
      * {
        margin: 5px;
      }
    }
}