@import 'stylesheets/variables';

.sidebar {
    background: rgb(245, 244, 244);
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: absolute;
    display: flex;
    padding: 10px;
    min-width: 250px;   
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 30;
    .btnWrapper {
        position: absolute;
        right: 10px;
        padding: 12px;
    }
    &.active {
        transform: translateX(0);
    }
    .panels {
        margin: 24px 0 0 0;
    }
    .panelsSystem {
        h5 {
            font-size: 18px;
            filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(94deg) brightness(94%) contrast(86%);
            margin: 0 0 6px 6px;
        }
    }
}