
.sidebar {
    height: 100vh;
    background: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    .panelsSystem {
        h5 {
            font-size: 18px;
            filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(94deg) brightness(94%) contrast(86%);
            margin: 0 0 6px 6px;
        }
    }
}